
 .mainclass{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body{
    width: 100%;
    height: inherit;
    background-image: url('../imgs/bgimg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.mainclass .logo img{
    width: 240px;
    height: 80px;
    padding-left: 20px;
}
.mainclass nav{
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 300px;
}
.mainclass nav a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight:900;
}

.helpbtn{
    margin-right: 50px;

}
.mainclass button{
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    color: white;
    border: none;
    background-color:rgba(0, 89, 255, 0.645);
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    background-color: rgba(195, 237, 235, 0.981);
}

.button_row button{
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    color: white;
    border: none;
    background-color:rgba(0, 89, 255, 0.645);
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    
}
.button_row{
    display: flex;
    flex-direction: row;
    justify-content: right;
    text-align: right;
    padding-top: 50px;


    width: 95%;
    /* padding-left: 70px; */
    
}
.appointment_btn{
    margin:8px 30px;
}
.logout_btn{
    margin:8px 0px;
}
 .statusbtn button{
    border:0ch;
    border-radius: 5px;
    background-color:rgb(124, 233, 121);
}
.container{
    width: 100%;
    height: inherit;
  
}
.row{
    display: flex;
    justify-content: center ;
    /* text-align: center; */
    width: 100%;
    height: inherit;
    margin-top:100px;
    
    /* padding: 0 10px; */
}
#div_table{
    overflow-x: scroll;
}
#div_table tbody tr .table_cell_scroll{
    width: 10px;
    overflow-x: scroll;

    background: aquamarine;
}

.col-md-6{
    width: 95%;
}
/* #dev-table thead tr th{
     
} */
.clickable{
    cursor: pointer;   
}

.panel-heading div {
    margin-top: -18px;
    font-size: 15px;
}
.panel-heading div span{
    margin-left:5px;
}
.panel-body{
    display: none;
}
